<br>
<h1>About</h1>
<br>

<p>
<h4><strong>What is Woofberry?</strong></h4>
Woofberry is a platform that links designers, artisans and customers (or Woof Fans) together.
</p><br>

<p>
<h4><strong>Why Woofberry? </strong></h4>
<ul type="disc">
 <li>Designers often have really cool ideas and concepts, but have a hard time getting those products to market.</li>
 <li>Artisans are often highly talented and can build a wide range of products but could use some help determining what customers are dying to buy</li>
 <li>Customers want wicked, unique stuff and are willing to pay but often have to deal with boring, ordinary, mass-manufactured products</li>
</ul>
<br>
<strong>Alone, each faces very high barriers, but together one plus one equals three.</strong> <br><br>

We have spent years watching really great concepts float around on the internet. Many of these concepts are rendered beautifully and in great detail. Some of them have even been prototyped by the designer. We see thousands of comments from users all over the world urging the designer to take their money and make them one but the designer faces many barriers in setting up the manufacture, from dealing with foreign entities to managing cost and money flows to ensuring quality. Woofberry connects these concepts with skilled artisans and manages all transactions.<br><br>

At the same time, we have also seen many highly skilled artisans selling all kinds of wonderful handmade products in many different websites. They build what they think will sell, but often their products end up buried amongst many others. A simple search for "orange leather wallet", for example, will yield thousands of results and theirs might end up right at the end. By using a user voting system, artisans know exactly what people want and build it.<br><br>

It's a win-win-win situation for everyone. <br>
</p><br>

<p>
<h4><strong>What does Woofberry mean?</strong></h4>
We aren't sure, but we do love our pups and we do love strawberries. Can't have too much of two good things.
</p><br>

<div>
<%= image_tag("woofberryteam.png", :class => "featurette-image pull-right") %>
<h4><strong>Who is Woofberry?</strong></h4>
Two people. Woof lives in Brooklyn, NY and Berry lives in Philly, PA. One is short and one is tall. One is female and one is male. One comes from Asia and one comes from the US. We couldn't be more different, but Woofberry is where we are the same. We both are passionate in Woofberry's cause of helping getting concepts to market.
</div>
<br>