<br>
<h1>About</h1>
<br>

<p>
<h4><strong>What is Some Pig?</strong></h4>
Some Pig is a place for people to share, comment on and vote for pig pictures. We are also working to add discussion forums and other pig-related features.
</p><br>

<p>
<h4><strong>Why Some Pig? </strong></h4>
Pigs rock. They are maddeningly cute and wickedly clever. Everyone loves pigs.
</p><br>

<p>
<h4><strong>What does Some Pig mean?</strong></h4>
If you have to ask this, you obviously weren't fully read-up on your literature as a child. Go to the bookstore and pick up <i>Charlotte's Web</i>.
</p><br>

<p>
<h4><strong>Who is Some Pig?</strong></h4>
Some Pig was created by two people who couldn't be more different from each other. But, we do like pigs. We don't have piggy pets, but if we could, we would. We both live in cities and homes that wouldn't cater well to little snortly friends, and this is unfortunate.
</p>
<br>

<%= image_tag("woofberryteam.png") %> <br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; THE KINGPIG &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRIME PIG</strong><br><br><br>