
$navbarBackgroundHighlight: white;
$navbarBackground: #f7f5f5;

@import 'bootstrap';


.flash.alert:empty {
  display: none;
}


    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      padding-top: 37px;
      color: #5a5a5a; 
    }

    h4 {
      color: #ff9dd2; 
    }

 /* Custom Button Color http://charliepark.org/bootstrap_buttons/ */
.btn-custom {
  background-color: hsl(332, 92%, 64%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f97fb8", endColorstr="#f74e9d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f97fb8), to(#f74e9d));
  background-image: -moz-linear-gradient(top, #f97fb8, #f74e9d);
  background-image: -ms-linear-gradient(top, #f97fb8, #f74e9d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f97fb8), color-stop(100%, #f74e9d));
  background-image: -webkit-linear-gradient(top, #f97fb8, #f74e9d);
  background-image: -o-linear-gradient(top, #f97fb8, #f74e9d);
  background-image: linear-gradient(#f97fb8, #f74e9d);
  border-color: #f74e9d #f74e9d hsl(332, 92%, 61.5%);
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 15;
      margin-top: 15px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar { 
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 7px 25px 0px; /* 14 20 16 Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 11px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 30px;
      margin-left: -90px;
      margin-right: -89px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
    /* used to be 500px */
      height: 300px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 65px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 15px;
    }

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
      /* font-size: 18pt; */
      /*margin-bottom: 0pt; */
      line-height: 1.1;
    }
    .marketing .span4 p {
      margin-left: 30px;
      margin-right: 30px;
      line-height: 1.4;
    }

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 37px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

     .featurette .lead {
      font-size: 18px;
      line-height: 1.3;
    }

    
@import 'bootstrap-responsive';
/* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: 15px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }


/* Required for jQuery Masonry 5,5,11,1.4,5,5,5,1,1,10,#444,214*/

.box {
    margin: 3px;
    padding: 3px;
    font-size: 11px;
    line-height: 1.3em;
    float: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #444;
    width: 214px;
}

.box img {
    width: 100%;

}

.description {
    margin: -35px 0px 0px;
    margin-left: 7px;
}
