<div class="footer">

  	<p class="pull-right">
  		<%= link_to "Back to top","#" %>
  	</p>
        
    <p>© 2013 Woofberry · <%= link_to "Privacy", "#" %> · <%= link_to "Terms", "#" %></p>
</div>
